.abs-fill, #popup-wrapper, #popup-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#popup-wrapper {
  z-index: 10;
  display: none; }
  #popup-wrapper .overlay {
    background: #000;
    opacity: 0.75;
    z-index: 11; }
  #popup-wrapper .popup-content {
    border: solid 1px #000;
    z-index: 12;
    margin-top: 50%;
    position: absolute;
    display: none; }

