@import 'toolbox';
@import 'global';

.abs-fill{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.map-surface-wrapper{
	@extend .abs-fill;

	z-index:1;

	#map-surface{
		width: 100%;
		height:100%;
	}

	#menu-button{
		background:#364455;
		border:none;
		border-radius:5px;
		color:#fff;
		position:absolute;
		z-index:3;
		bottom:40px;
		right:5px;
		font-size:1.5em;
		padding:10px;
		cursor:pointer;
	}

	#menu{
		position: absolute;
		z-index: 2;
		background: #fff;
		width: 100%;
		height: 100px;
		bottom: 0;
		padding-left: 10px;	

		button{
			background:#364455;
			border:none;
			border-radius:5px;
			color:#fff;	
			padding:10px;
			font-size:1em;
			margin-top: 15px;
			cursor:pointer;
		}
	}
}







#popup-wrapper{
	z-index:10;
	display:none;
	@extend .abs-fill;

	.overlay{
		background:#000;
		opacity:0.75;	
		width:100%;
		height:100%;
	}

	.popup-content-wrapper{
		
		z-index:12;
		@extend .abs-fill;

		.popup-content{
			width: 75%;
			height: 70%;
			margin: auto;
			border: solid 1px #000;
			background: #fff;
			margin-top: 10%;
			border-radius:5px;

			.popup-header{
				background:#2e7438;
				color:#fff;
				font-size:1.5em;
				padding: 25px;
				padding-bottom:15px;
				border-radius:5px 5px 0 0;

				.close-popup{
					float:right;
					margin:-15px;
					cursor:pointer;
					font-size:0.75em;
				}
			}

			.popup-body{

			}
		}
	}
}