@font-face {
  font-family: Avenir-Lt;
  src: url("../fonts/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: Avenir-Med;
  src: url("../fonts/AvenirLTStd-Medium.otf"); }

/* ----------------------------------------------------
  Top Level Styles
 --------------------------------------------------- */
body, html {
  font-family: Avenir-Lt, Arial, Helvetica, sans-serif;
  height: 100%;
  background: url("../img/background.jpg");
  background-size: cover; }

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0; }

h4 {
  font-size: 1.25em;
  margin: 5px 0; }

a {
  color: #007ac2;
  text-decoration: none; }
  a:hover {
    color: #005e95; }

/* ----------------------------------------------------
  Utility Styles
 --------------------------------------------------- */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hover {
  cursor: pointer; }

.clear-both {
  clear: both; }

.error {
  background-color: #f2dede;
  color: #a94442;
  padding: 15px;
  border: 1px solid #ebccd1;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/* ----------------------------------------------------
  Form Styles
 --------------------------------------------------- */
.form {
  background: #fbfbfb;
  border: solid 2px #efefef;
  padding: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .form label {
    font-weight: bold;
    display: block;
    padding: 5px 0; }

input[type=text], input[type=password], textarea {
  padding: 5px;
  margin: 5px 0;
  font-size: 1.25em;
  border: solid 2px #efefef;
  width: 95%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out 0s;
  -moz-transition: border-color 0.15s ease-in-out 0s;
  -ms-transition: border-color 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s;
  -webkit-transition: box-shadow 0.15s ease-in-out 0s;
  -moz-transition: box-shadow 0.15s ease-in-out 0s;
  -ms-transition: box-shadow 0.15s ease-in-out 0s;
  -o-transition: box-shadow 0.15s ease-in-out 0s;
  transition: box-shadow 0.15s ease-in-out 0s; }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: solid 2px #007ac2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    -ms-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    -o-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); }

/* ----------------------------------------------------
 Button Styles
--------------------------------------------------- */
.btn {
  font-size: 1.1em;
  padding: 10px;
  background: #fbfbfb;
  border: solid 2px #efefef;
  cursor: pointer;
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover {
    background: #efefef; }
  .btn.btn-primary {
    background: #ef900d; }
    .btn.btn-primary:hover {
      background: #f0702f; }

/* ----------------------------------------------------
 List
--------------------------------------------------- */
.list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list li {
    padding: 10px;
    font-size: 1.15em; }
    .list li:nth-child(odd) {
      background: #3cab4c;
      color: #fff; }

.abs-fill, .map-surface-wrapper, #popup-wrapper, #popup-wrapper .popup-content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#directions-surface {
  display: none; }

.map-surface-wrapper {
  z-index: 1; }
  .map-surface-wrapper #map-surface {
    width: 100%;
    height: 100%; }
  .map-surface-wrapper #menu-button {
    background: #364455;
    border: none;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    z-index: 3;
    bottom: 40px;
    right: 5px;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer; }
  .map-surface-wrapper #menu {
    position: absolute;
    z-index: 2;
    background: #fff;
    width: 100%;
    height: 100px;
    bottom: 0;
    padding-left: 10px; }
    .map-surface-wrapper #menu button {
      background: #364455;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px;
      font-size: 1em;
      margin-top: 15px;
      cursor: pointer; }

#route-wrapper, #route-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #2e7438 !important;
  z-index: 30;
  color: #fff;
  font-size: 2em;
  width: 100%;
  padding-top: 15px; }
  #route-wrapper .esriRouteInfo, #route-detail-wrapper .esriRouteInfo {
    color: #fff; }
    #route-wrapper .esriRouteInfo strong, #route-detail-wrapper .esriRouteInfo strong {
      color: #fff; }
    #route-wrapper .esriRouteInfo .esriRouteText strong:first-child, #route-detail-wrapper .esriRouteInfo .esriRouteText strong:first-child {
      display: none; }
  #route-wrapper .esriRouteZoom:focus, #route-detail-wrapper .esriRouteZoom:focus {
    background: #2e7438 !important; }
  #route-wrapper .esriRouteIcon, #route-detail-wrapper .esriRouteIcon {
    background-size: cover;
    width: 40px;
    height: 40px; }
  #route-wrapper tr:hover, #route-detail-wrapper tr:hover {
    background: #2e7438; }

#route-detail-wrapper {
  top: 90px;
  display: none; }

#popup-wrapper {
  z-index: 10;
  display: none; }
  #popup-wrapper .overlay {
    background: #000;
    opacity: 0.75;
    width: 100%;
    height: 100%; }
  #popup-wrapper .popup-content-wrapper {
    z-index: 12; }
    #popup-wrapper .popup-content-wrapper .popup-content {
      width: 75%;
      height: 70%;
      margin: auto;
      border: solid 1px #000;
      background: #fff;
      margin-top: 10%;
      border-radius: 5px; }
      #popup-wrapper .popup-content-wrapper .popup-content .popup-header {
        background: #2e7438;
        color: #fff;
        font-size: 1.5em;
        padding: 25px;
        padding-bottom: 15px;
        border-radius: 5px 5px 0 0; }
        #popup-wrapper .popup-content-wrapper .popup-content .popup-header .close-popup {
          float: right;
          margin: -15px;
          cursor: pointer;
          font-size: 0.75em; }
  #popup-wrapper .media-player {
    display: none; }

#view-tour-popup .tour-entry .thumbnail {
  width: 100px;
  height: 100px;
  float: left; }
#view-tour-popup .tour-entry .tour-entry-detail img {
  padding: 5px; }

#tour-stop-popup .content-thumbs {
  list-style: none;
  margin: 0;
  padding: 0; }
  #tour-stop-popup .content-thumbs li {
    float: left; }
    #tour-stop-popup .content-thumbs li img {
      width: 125px;
      height: 125px;
      margin: 10px; }

